<header>
	<pre class="ascii logo">                                                                                                                  
                                   __________
                           ________|          |________
                          |       /   ||||||   \       |
                          |     ,'              `.     |
                          |   ,'                  `.   |
                          | ,'   ||||||||||||||||   `. |
                          ,'  /____________________\  `.
                         /______________________________\
                        |                                |
                        |                                |
                        |                                |
                        |________________________________|
                          |____________________------__|

              ,----------------------------------------------------,
              | [][][][][]  [][][][][]  [][][][]  [][__]  [][][][] |
              |                                                    |
              |  [][][][][][][][][][][][][][_]    [][][]  [][][][] |
              |  [_][][][][][][][][][][][][][ |   [][][]  [][][][] |
              | [][_][][][][][][][][][][][][]||     []    [][][][] |
              | [__][][][][][][][][][][][][__]    [][][]  [][][]|| |
              |   [__][________________][__]              [__][]|| |
              `----------------------------------------------------'
	<pre class="ascii name">
__/\\\\\\\\\\\\____        ________/\\\\\\\\\_        ____/\\\\\\\\\_____        _____/\\\\\\\____        __/\\\\\\\\\\\\\\\_        
 _\/\\\////////\\\__        _____/\\\////////__        __/\\\///////\\\___        ___/\\\/////\\\__        _\/////////////\\\_       
  _\/\\\______\//\\\_        ___/\\\/___________        _\///______\//\\\__        __/\\\____\//\\\_        ____________/\\\/__      
   _\/\\\_______\/\\\_        __/\\\_____________        ___________/\\\/___        _\/\\\_____\/\\\_        __________/\\\/____     
    _\/\\\_______\/\\\_        _\/\\\_____________        ________/\\\//_____        _\/\\\_____\/\\\_        ________/\\\/______    
     _\/\\\_______\/\\\_        _\//\\\____________        _____/\\\//________        _\/\\\_____\/\\\_        ______/\\\/________   
      _\/\\\_______/\\\__        __\///\\\__________        ___/\\\/___________        _\//\\\____/\\\__        ____/\\\/__________  
       _\/\\\\\\\\\\\\/___        ____\////\\\\\\\\\_        __/\\\\\\\\\\\\\\\_        __\///\\\\\\\/___        __/\\\/____________ 
        _\////////////_____        _______\/////////__        _\///////////////__        ____\///////_____        _\///______________
</pre>
</header>
